body {
  background-color: #222;
  color: #fff;
  padding: 0 1em;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto auto auto auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-content: center;
}

.grid-item {
  font-size: 30px;
  height: 3.5em;
  width: 3.5em;
  background-color: #422835;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em .5em .5em .5em;
}

.btn {
  background-color: #616161;
  color: #fafafa;
  padding: .5em 2em;
  border-color: #212121;
  border-radius: 4px;
  font-weight: bolder;
}

.font{
  color: red;
}

.btn:hover {
  background-color: #111;
}

.hole {
  background-image: url('./image/hole.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.door {
  background-image: url('./image/door.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #422835;
}

/* .breeze {
  background-image: url('./image/breeze.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #422835;
} */

.monster {
  background-image: url('./image/monster.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #422835;
}

.treasure {
  background-image: url('./image/treasure.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #422835;
}
