body {
  background-color: #fafafa;
  padding: 0 1em;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  background-color: #bdbdbd;
  border: 1px solid #212121;
  padding: 4px;
  font-size: 30px;
  height: 3em;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em .5em .5em .5em;
}

.btn {
  background-color: #616161;
  color: #fafafa;
  padding: .5em 2em;
  border-color: #212121;
  border-radius: 4px;
}

.btn:hover {
  background-color: #212121;
}